<ion-card>
  <div class="backdrop">
    <div class="background-one"></div>
    <div class="half-ellipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>

  <ion-card-header class="ion-text-center">
    <ion-avatar>
      <ion-img
        src="https://images.unsplash.com/photo-1508185140592-283327020902?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      ></ion-img>
    </ion-avatar>
    <ion-card-title class="ion-margin-top"> Minh Nguyen </ion-card-title>
    <ion-card-subtitle>Fullstack Developer</ion-card-subtitle>
  </ion-card-header>

  <div class="item-divider"></div>

  <ion-card-content>
    <div>
      <span>Who viewed your profile</span>
      <ion-text color="primary">467</ion-text>
    </div>
    <div class="connections">
      <span>Connnections</span>
      <ion-text color="primary">678</ion-text>
    </div>
    <ion-card-subtitle class="dark">Manage your network</ion-card-subtitle>
  </ion-card-content>
</ion-card>
